<div class="text-white text-sm">
  <div class="space-y-3">
    <div class="flex justify-between text-gray-200">
      <p>Subtotal</p>
      <p>S/. {{ subtotal().toFixed(2) }}</p>
    </div>
    <div class="flex justify-between text-gray-200">
      <p>IGV (18%)</p>
      <p>S/. {{ tax().toFixed(2) }}</p>
    </div>
    <div class="flex justify-between font-bold text-gray-200">
      <p>Total</p>
      <p>S/. {{ total().toFixed(2) }}</p>
    </div>
  </div>
  <button
    class="w-full bg-red-600 text-white font-bold py-3 rounded-lg mt-6 hover:bg-red-700 transition-colors cursor-pointer"
    (click)="onCreateOrder()"
  >
    Crear
  </button>
</div>
