<header class="flex justify-between items-between my-3 font-poppins-semibold">
  <h1 class="text-3xl text-gray-100">Mesas</h1>

  <div class="flex flex-row justify-center items-center gap-4">
    <div class="flex gap-2">
      <button
        class="bg-transparent text-gray-500 border-0 border-b-2 font-bold cursor-pointer transition-all duration-200 px-2 py-1"
        [class.text-white]="selectedStatus() === null"
        (click)="selectStatus(null)"
      >
        Todos
      </button>
    </div>
    <div class="flex gap-2">
      <button
        class="bg-transparent text-gray-500 border-0 border-b-2 font-bold cursor-pointer transition-all duration-200 px-2 py-1"
        [class.text-sky-400]="selectedStatus() === tableStatus.AVAILABLE"
        (click)="selectStatus(tableStatus.AVAILABLE)"
      >
        Disponible
      </button>
    </div>
    <div class="flex gap-2">
      <button
        class="bg-transparent border-0 border-b-2 font-bold cursor-pointer transition-all duration-200 px-2 py-1"
        [class.text-amber-400]="selectedStatus() === tableStatus.OCCUPIED"
        [class.text-gray-400]="selectedStatus() !== tableStatus.OCCUPIED"
        (click)="selectStatus(tableStatus.OCCUPIED)"
      >
        Ocupada
      </button>
    </div>
  </div>
</header>
