<header class="flex justify-center items-center my-3">
  <div class="flex flex-row items-center gap-4">
    <div class="flex items-center gap-2 pt-4">
      <span class="badge font-bold cursor-pointer" (click)="status.emit('')">
        Todos</span
      >
    </div>
    <div class="flex items-center gap-2 pt-4">
      <span
        class="badge text-sky-500 font-bold cursor-pointer"
        (click)="status.emit(TableStatus.AVAILABLE)"
      >
        Disponible
      </span>
    </div>
    <div class="flex items-center gap-2 pt-4">
      <span
        class="badge text-amber-500 font-bold cursor-pointer"
        (click)="status.emit(TableStatus.OCCUPIED)"
      >
        Ocupada
      </span>
    </div>
  </div>
</header>
