<div class="my-9 w-full">
  <!--  -->
  <div
    class="bg-side-background rounded-lg shadow-xl w-full max-w-6xl mx-auto p-2 sm:p-4 flex flex-col lg:flex-row gap-6 h-[calc(100vh-8rem)] min-h-[600px]"
  >
    <div class="w-full lg:w-2/3">
      <app-order-products
        [productTypes]="productTypes()"
        [selectedTable]="selectedTable()"
        (closeModal)="onCloseModal()"
      />
    </div>
    <div
      class="w-full lg:w-1/3 bg-background/80 rounded-lg shadow-lg p-2 sm:p-4 mt-6 lg:mt-0"
    >
      <app-order-summary [selectedTable]="selectedTable()" />
    </div>
  </div>
</div>
