<div
  class="card bg-side-background shadow-lg hover:shadow-xl cursor-pointer h-full min-h-[200px] flex flex-col justify-center items-center transition-all duration-200 hover:scale-[0.98] relative overflow-hidden p-6"
  (click)="onTableClick()"
>
  <!--  -->
  @if (hasOrders()) {
  <div
    class="absolute top-4 left-4 w-3 h-3 bg-orange-500 rounded-full z-10 animate-pulse"
  ></div>
  }

  <div
    class="w-full h-30 mt-3 flex flex-col items-center justify-center text-gray-200"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="90"
      height="90"
      viewBox="0 0 24 24"
    >
      <path
        fill="currentColor"
        d="m6 20l1.5-3.75q.225-.575.725-.913T9.35 15H11v-4.025Q7.175 10.85 4.587 9.85T2 7.5q0-1.45 2.925-2.475T12 4q4.175 0 7.088 1.025T22 7.5q0 1.35-2.588 2.35T13 10.975V15h1.65q.6 0 1.113.338t.737.912L18 20h-2l-1.2-3H9.2L8 20z"
      />
    </svg>
  </div>

  <!--  -->
  <div class="mx-4 mb-4">
    @if (table().status === tableStatus().AVAILABLE) {
    <div class="flex flex-col items-center justify-center mt-3">
      <span
        class="badge badge-sm bg-gray-700/50 text-sky-500 font-bold border-0"
        >{{ table().status | titlecase }}</span
      >
    </div>
    <!-- <div
      aria-label="status"
      class="status status-lg absolute top-4 right-4"
    ></div> -->
    } @else{
    <div class="flex flex-col items-center justify-center mt-3">
      <span
        class="badge badge-sm bg-gray-700/50 text-amber-500 font-bold border-0"
        >{{ table().status | titlecase }}</span
      >
    </div>
    <!-- <div
      aria-label="status"
      class="status status-lg absolute top-4 right-4"
    ></div> -->
    }

    <!--  -->
    <div class="flex flex-col items-center justify-center my-3">
      <h2 class="card-title text-xl font-bold mt-0 text-gray-200">
        Mesa {{ table().number }}
      </h2>
    </div>
  </div>
</div>
