<div class="mb-4">
  <section class="mt-5 overflow-x-auto rounded-lg border border-gray-700">
    <table class="table table-md w-full divide-y divide-gray-700">
      <thead class="text-xs text-gray-400 uppercase bg-side-background">
        <tr class="divide-y divide-gray-700">
          <th>#</th>
          <th>Mesa</th>
          <th>Hora</th>
          <th>Productos</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-100 text-white bg-side-background">
        <!--  -->
        @if (isLoading()) {
        <tr>
          <td colspan="5" class="text-center py-12">
            <div class="flex flex-col items-center justify-center">
              <span class="loading loading-bars loading-lg"></span>
              <span class="text-white font-medium mt-5"
                >Cargando pedidos...</span
              >
            </div>
          </td>
        </tr>

        } @else if (errorMessage()) {
        <tr>
          <td colspan="5" class="text-center py-12">
            <div class="flex flex-col items-center justify-center text-red-400">
              <span
                class="fa-solid fa-exclamation-triangle text-4xl mb-3"
              ></span>
              <span>{{ errorMessage() }}</span>
            </div>
          </td>
        </tr>

        } @else if (orders().length > 0) {
        <!--  -->
        @for (order of orders(); track order.id; let index = $index) {
        <tr>
          <td>{{ index + 1 }}</td>
          <td>{{ order.tableId }}</td>
          <td>
            {{ order.createdAt | date : "HH:mm" }} {{ getOrderAmPm(order) }}
          </td>
          <td class="max-w-48">
            <div
              class="truncate text-sm"
              [title]="getProductsFullText(order.productOrders)"
            >
              {{ getProductsDisplayText(order.productOrders) | titlecase }}
            </div>
          </td>
          <td class="font-semibold">
            <span [class]="getOrderStatus(order.orderStatus).class">
              {{
                getOrderStatus(order.orderStatus).text
                  | replaceUnderscore
                  | titlecase
              }}
            </span>
          </td>
        </tr>
        }
        <!--  -->
        } @else {
        <tr>
          <td colspan="5" class="text-center py-12">
            <div
              class="flex flex-col items-center justify-center text-gray-400"
            >
              <span class="fa-solid fa-clipboard-list text-4xl mb-3"></span>
              <span class="text-lg font-medium">No se encontraron órdenes</span>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </section>
</div>
