<div class="font-display h-[calc(100vh-235px)]">
  <!--  -->
  @if (isLoading()) {
  <div class="flex flex-col items-center justify-center h-full">
    <span class="loading loading-bars loading-lg"></span>
    <span class="text-white font-medium mt-5">Cargando pedidos...</span>
  </div>
  }

  <!--  -->
  @else if (errorMessage()) {
  <div class="flex flex-col items-center justify-center h-full text-red-400">
    <span class="fa-solid fa-exclamation-triangle text-4xl mb-3"></span>
    <span class="text-lg">{{ errorMessage() }}</span>
  </div>
  }

  <!--  -->
  @else if (isEmpty()) {
  <div class="flex flex-col items-center justify-center h-full text-gray-400">
    <span class="fa-solid fa-clipboard-list text-4xl mb-3"></span>
    <span class="text-lg font-medium">No se encontraron órdenes</span>
  </div>
  }

  <!--  -->
  @else if (orders().length > 0) {
  <div class="px-6 pt-6 space-y-4 border-t">
    @for (order of orders(); track order.id) {
    <div
      class="bg-side-background text-gray-500 rounded-lg shadow-2xl p-4 border-l-4 {{
        getBorderOrderStatus(order.orderStatus)
      }} cursor-pointer"
    >
      <div class="flex justify-between items-start text-white gap-4">
        <div class="flex-1 min-w-0 flex items-start gap-6">
          <div class="flex-shrink-0">
            <h3 class="font-bold text-lg">Orden #{{ order.id }}</h3>
            <p class="text-sm text-gray-300">Mesa: {{ order.tableId }}</p>
          </div>

          <div class="flex-1 min-w-0">
            <p
              class="text-sm text-gray-200 pt-3 truncate"
              [title]="getProductsDisplayText(order.productOrders)"
            >
              {{ getProductsDisplayText(order.productOrders) | titlecase }}
            </p>
          </div>
        </div>

        <div class="text-right flex-shrink-0">
          <span [class]="getOrderStatus(order.orderStatus).class">
            {{ getTextStatus(order.orderStatus) }}
          </span>
          <p class="text-xs mt-1 text-gray-400">
            {{ order.createdAt | date : "HH:mm" }}
            {{ getOrderAmPm(order) }}
          </p>
        </div>
      </div>
    </div>
    }
  </div>
  }
</div>
