<header class="flex flex-col gap-6 items-start my-3">
  <div class="flex flex-row gap-5 pt-2">
    <h1 class="text-3xl font-bold text-gray-100">Pedidos</h1>
    <label class="input w-40 bg-side-background">
      <i class="fa-solid fa-magnifying-glass text-gray-500"></i>
      <input
        type="search"
        required
        placeholder="N° de mesa"
        class="text-gray-100 placeholder:text-gray-500"
      />
    </label>
  </div>

  <div class="flex flex-wrap items-center gap-4 font-semibold">
    @for (filter of statusFilters; track filter.status ?? 'all') {
    <button
      class="relative px-2 pt-1 bg-transparent font-bold cursor-pointer transition-all duration-300 hover:text-gray-400"
      [class]="
        isStatusSelected(filter.status!) ? filter.colorClass : 'text-gray-500'
      "
      [class.border-b-2]="isStatusSelected(filter.status!)"
      (click)="selectStatus(filter.status)"
    >
      @if (filter.icon) {
      <i [class]="filter.icon" class="mr-2"></i>
      }
      {{ filter.label }}
    </button>
    }
  </div>
</header>
