<header class="flex justify-between items-center my-3">
  <h1 class="text-3xl font-bold text-gray-100">Pedidos</h1>
  <div class="flex flex-row items-center gap-4 font-semibold">
    <div class="flex gap-2">
      <button
        class="bg-transparent text-gray-500 border-0 border-b-2 font-bold cursor-pointer"
        [class.text-status-preparing]="
          selectedStatus() === orderStatus.PREPARING
        "
        (click)="selectStatus(orderStatus.PREPARING)"
      >
        Preparando
      </button>
    </div>
    <div class="flex gap-2">
      <button
        class="bg-transparent text-gray-500 border-0 border-b-2 font-bold cursor-pointer"
        [class.text-status-pending]="selectedStatus() === orderStatus.PENDING"
        (click)="selectStatus(orderStatus.PENDING)"
      >
        Pendiente
      </button>
    </div>
    <div class="flex gap-2">
      <button
        class="bg-transparent text-gray-500 border-0 border-b-2 font-bold cursor-pointer"
        [class.text-status-paid]="selectedStatus() === orderStatus.PAID"
        (click)="selectStatus(orderStatus.PAID)"
      >
        Pagado
      </button>
    </div>
    <div class="flex gap-2">
      <button
        class="bg-transparent text-gray-500 border-0 border-b-2 font-bold cursor-pointer"
        [class.text-status-cancelled]="
          selectedStatus() === orderStatus.CANCELLED
        "
        (click)="selectStatus(orderStatus.CANCELLED)"
      >
        Cancelado
      </button>
    </div>
    <div class="flex gap-2">
      <button
        class="bg-transparent text-gray-500 border-0 border-b-2 font-bold cursor-pointer"
        [class.text-status-ready]="selectedStatus() === orderStatus.READY"
        (click)="selectStatus(orderStatus.READY)"
      >
        Listo
      </button>
    </div>
    <div class="flex gap-2 cursor-pointer">
      <button
        class="text-white bg-transparent font-bold cursor-pointer"
        (click)="selectStatus(null)"
      >
        <i class="fa-solid fa-trash"></i>
      </button>
    </div>
  </div>
</header>
