<div
  class="flex items-center justify-center h-full w-full font-poppins-semibold"
>
  <div class="flex items-center text-gray-200 space-x-2">
    <button
      class="join-item btn bg-side-background rounded-box h-8"
      (click)="previousPage()"
      [disabled]="currentPage() <= 1"
    >
      <i class="fa-solid fa-arrow-left"></i>
    </button>

    <span
      class="flex items-center justify-center h-10 w-10 rounded-full border-0 border-white bg-side-background/40 text-sm"
    >
      {{ currentPage() }}
    </span>

    <button
      class="join-item btn bg-side-background rounded-box h-8"
      (click)="nextPage()"
      [disabled]="currentPage() >= pages()"
    >
      <i class="fa-solid fa-arrow-right"></i>
    </button>
  </div>
</div>
