<div class="h-full flex flex-col flex-1 min-h-0 px-6 pb-10">

  <app-list-state
    [loading]="isLoading()"
    [error]="errorMessage()"
    [empty]="filteredOrders().length === 0"
    emptyIcon="clipboard-check"
    emptyTitle="No hay órdenes activas"
    emptyMessage="Todas las órdenes han sido completadas"
    loadingMessage="Cargando órdenes..."
  >
    <div class="flex-1 min-h-50 overflow-y-auto overflow-x-hidden pr-3 custom-secondary-scrollbar">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-4 pb-4">
        @for (order of filteredOrders(); track order.id) {
          <div class="relative">
            <app-order-card
              [order]="order"
              (changeStatus)="onStatusChange(order.id, $event)"
              (servedProductOrder)="onServedProductOrder($event)"
            />
          </div>
        }
      </div>
      <div class="h-8"></div>
    </div>
  </app-list-state>

</div>
