<div
  class="h-[calc(100vh-14rem)] relative overflow-y-hidden grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 my-5"
  #groupDiv
>
  <!-- (scroll)="onScroll($event)" -->
  @if (filterTables().length > 0) { @for (filterTable of filterTables(); track
  $index) {
  <app-table-list-item
    [table]="filterTable"
    [tableStatus]="tableStatusEnum()"
    class="h-60"
    (tableSelected)="openRegisterOrder($event)"
  />
  } } @else { @for (table of tables(); track $index) {
  <app-table-list-item
    [table]="table"
    [tableStatus]="tableStatusEnum()"
    class="h-60"
    (tableSelected)="openRegisterOrder($event)"
  />
  } }

  <!--  -->
  @if (isLoading()) {
  <div
    class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 h-1/2 w-1/2 flex items-center justify-center bg-gray-800 rounded-lg"
  >
    <span class="loading loading-bars loading-lg bg-white"></span>
  </div>
  }

  <!--  -->
  @if (tables().length === 0 && !isLoading() ) {
  <div
    class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 h-1/2 w-1/2 flex items-center justify-center bg-gray-800 rounded-lg"
  >
    <span class="text-white font-bold">No se encontraron resultados</span>
  </div>
  }

  <!--  -->
  @if (errorMessage()) {
  <tr>
    <td colspan="8" class="text-center">
      {{ errorMessage() }}
    </td>
  </tr>
  }

  <!-- Modal para registro de órdenes -->
  @if (selectedTable()) {
  <div
    class="fixed inset-0 bg-black/50 z-50 flex items-center justify-center p-4"
  >
    <div class="w-full max-w-7xl max-h-[90vh] overflow-y-hidden">
      <app-register-order
        [productTypes]="productTypes()"
        [selectedTable]="selectedTable()"
        (closeModal)="closeRegisterOrder()"
      />
    </div>
  </div>
  }
</div>
