<div class="px-1 sm:px-2 pb-4 text-white h-full flex flex-col">
  <div class="flex items-center justify-between mb-6">
    <h2 class="text-xl font-bold">Resumen Pedido</h2>
    <span class="bg-red-600 text-white rounded-full px-2 py-1 text-sm">
      {{ totalItems() }} items
    </span>
  </div>

  <!--  -->
  <div class="mb-4">
    <div class="flex justify-between text-gray-300 mb-2">
      <span>Mesa:</span>
      <span class="font-semibold">{{ selectedTable()?.number || "N/A" }}</span>
    </div>
    <div class="flex justify-between text-gray-300">
      <span>Estado:</span>
      <span class="text-green-400">{{
        selectedTable()?.status | titlecase
      }}</span>
    </div>
  </div>

  <!--  -->
  <div class="flex-1 overflow-hidden flex flex-col">
    <div class="flex-1 overflow-y-auto custom-secondary-scrollbar pr-2">
      @if (cartItems().length === 0) {
      <div class="text-center text-gray-400 py-8">
        <span class="fa-solid fa-shopping-cart text-4xl mb-2 block"></span>
        <p>No hay productos seleccionados</p>
      </div>
      } @else {
      <div class="space-y-2 pb-4">
        @for (item of cartItems(); track item.product.id) {
        <app-order-summary-item
          [cartItem]="item"
          (updateQuantity)="onUpdateQuantity(item.product.id, $event)"
          (removeItem)="onRemoveItem(item.product.id)"
        />
        }
      </div>
      }
    </div>
  </div>

  <!--  -->
  <div class="mb-4">
    <div class="relative">
      <div class="flex items-center gap-2 mb-2">
        <span class="fa-solid fa-comment text-gray-400"></span>
        <label class="text-sm font-medium text-gray-300"> Comentarios </label>
      </div>
      <textarea
        class="w-full px-4 py-3 bg-gray-800/60 border border-gray-600 rounded-lg text-white placeholder-gray-400 resize-none focus:outline-none focus:ring-2 focus:ring-gray-500 focus:border-gray-500 transition-all duration-200 min-h-[60px]"
        placeholder="Ej: Sin cebolla, extra picante, bien cocido..."
        rows="3"
        maxlength="200"
        [(ngModel)]="comment"
      ></textarea>
      <div class="absolute bottom-2 right-3 text-xs text-gray-500">
        {{ commentLength() }}/200
      </div>
    </div>
  </div>

  <!--  -->
  <div>
    <app-order-summary-total [cartItems]="cartItems()" />
  </div>

  @if (carItemsLength() !== 0) {
  <button
    class="w-full bg-red-600 text-white font-bold py-3 rounded-lg mt-6 hover:bg-red-700 transition-colors cursor-pointer"
    (click)="onSubmitOrder()"
  >
    Guardar Orden
  </button>
  } @else {
  <button
    class="w-full bg-gray-400 text-gray-600 font-bold py-3 rounded-lg mt-6"
    disabled
  >
    Guardar Orden
  </button>
  }
</div>
