<div
  class="navbar bg-navbar-background border-b border-gray-300 shadow-sm sticky top-0 z-20"
>
  <div id="logo" class="my-4 px-6">
    <h1 class="text-lg md:text-2xl font-bold text-white">
      {{ envs.companyName }}
      <span class="text-sky-300"> {{ envs.companyName2 }}</span>
    </h1>
  </div>
  <div class="flex flex-row flex-1 justify-center">
    <a class="btn btn-ghost text-xl bg-side-background text-white">{{
      header()
    }}</a>
  </div>
  <div class="flex flex-row gap-2">
    @if (authService.authStatus() === 'authenticated') {
    <a
      href="/auth/login"
      class="btn btn-md bg-gray-900/50 border-0 hover:bg-gray-600"
      (click)="authService.logout()"
    >
      Salir
    </a>
    }

    <!--  -->

    <!-- @else if (authService.authStatus() === 'not-authenticated') {
    <a
      href="/auth/login"
      class="btn btn-md bg-gray-900/50 border-0 hover:bg-gray-600"
      >Iniciar Sesion</a
    >
    } -->

    <!--  -->
    @else {
    <a class="btn btn-ghost">...</a>
    }
  </div>
</div>
