<app-order-status />

<div
  class="h-[calc(100vh-8rem)] overflow-y-scroll grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 pt-4"
  #groupDiv
>
  <!-- (scroll)="onScroll($event)" -->
  @for (group of tablesGroup(); track $index) {
  <div class="grid gap-4">
    @for (table of group; track table.id) {
    <div class="card bg-side-background shadow-sm cursor-pointer">
      <div
        class="w-full h-30 mt-10 flex flex-col items-center justify-center text-gray-200"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="90"
          height="90"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="m6 20l1.5-3.75q.225-.575.725-.913T9.35 15H11v-4.025Q7.175 10.85 4.587 9.85T2 7.5q0-1.45 2.925-2.475T12 4q4.175 0 7.088 1.025T22 7.5q0 1.35-2.588 2.35T13 10.975V15h1.65q.6 0 1.113.338t.737.912L18 20h-2l-1.2-3H9.2L8 20z"
          />
        </svg>
        <div class="mt-5">
          @if (table.status === 'Disponible') {
          <div class="border-2 py-1 rounded-2xl border-hidden bg-gray-700/50">
            <span class="text-sky-500 font-bold px-3">{{ table.status }}</span>
          </div>
          } @else{
          <div class="border-2 py-1 rounded-2xl border-hidden bg-gray-700/50">
            <span class="text-amber-500 font-bold px-3">{{
              table.status
            }}</span>
          </div>
          }
        </div>
      </div>
      <div class="card-body flex flex-col items-center justify-center">
        <h2 class="card-title text-xl font-bold pb-2 mt-0 text-gray-200">
          Mesa {{ table.number }}
        </h2>
      </div>
    </div>
    }
  </div>
  }
</div>
