<app-order-header-status
  (status)="selectedOrderStatus.set($event)"
  (value)="tableNumber.set($event)"
/>

<app-order-list
  [orders]="orderResource.value()?.content ?? []"
  [isEmpty]="(orderResource.value()?.content?.length ?? 0) === 0"
  [isLoading]="orderResource.isLoading()"
  [errorMessage]="orderResource.error()"
  (statusChange)="onStatusChange($event.orderId, $event.newStatus)"
/>

<app-pagination
  [pages]="orderResource.value()?.totalPages ?? 0"
  [currentPage]="this.paginationService.currentPage()"
/>
