<app-table-header-status (status)="selectedTableStatus.set($event)" />

<app-table-list
  [tables]="tablesResource.value()?.content ?? []"
  [isEmpty]="(tablesResource.value()?.content?.length ?? 0) === 0"
  [isLoading]="tablesResource.isLoading()"
  [activeOrdersByTable]="activeOrdersByTable()"
  [modifyStatus]="modifyStatusChanged()"
  (modifyStatusChanged)="onModifyStatusChanged($event)"
  (statusChange)="onStatusChange($event.orderId, $event.newStatus)"
  (orderCreated)="onOrderCreated($event)"
  (orderUpdated)="onOrderUpdated($event.id, $event.order)"
  (refresh)="onRefresh()"
/>

<app-pagination
  [pages]="tablesResource.value()?.totalPages ?? 0"
  [currentPage]="this.paginationService.currentPage()"
/>
