<app-table-header-status (status)="selectedTableStatus.set($event)" />

<app-table-list
  [productTypes]="productTypeResource.value() ?? []"
  [tableStatusEnum]="tableStatusEnum"
  [tables]="tablesResource.value()?.content ?? []"
  [isEmpty]="(tablesResource.value()?.content?.length ?? 0) === 0"
  [isLoading]="tablesResource.isLoading()"
  [activeOrdersByTable]="activeOrdersByTable()"
  (statusChange)="onStatusChange($event.orderId, $event.newStatus)"
  (refresh)="onRefresh()"
/>

<app-pagination
  [pages]="tablesResource.value()?.totalPages ?? 0"
  [currentPage]="this.paginationService.currentPage()"
/>
